apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../../CVCameraTracker/docker-compose.yml
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: backend
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: backend
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f ../../CVCameraTracker/docker-compose.yml
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: backend
    spec:
      containers:
        - image: localhost:5000/cvcameratracker-backend:latest
          imagePullPolicy: Always
          name: backend
          ports:
            - containerPort: 8081
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/backend/config.yaml
              name: backend-cm0
              subPath: config.yaml
            - mountPath: /app/uploads # should be the same with backend conf
              name: uploads-volume
      restartPolicy: Always
      volumes:
        - configMap:
            items:
              - key: config.yaml
                path: config.yaml
            name: backend-cm0
          name: backend-cm0
        - name: uploads-volume
          persistentVolumeClaim:
            claimName: uploads-pvc
